
.btn {

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;

  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.3);

    /* style pseudo element on button hover */

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.3);
  }

  &--white {
    background: $color-white;
    color: $color-gray;

    &::after {
      background: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    transition: all .35s;
  }

  &--animated {
    /* animation-name: moveInBottom;
  animation-duration: .5s;
  animation-timing-function: ease-out; */

    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

}